*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
}

html{
    font-size: 62.5%;
    background-color: var(--branco-bg);
}

img{
    display: block;
    max-width: 100%;
}

a, button {
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: var(--preto-txt);
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 16px;
    
}

