.foto-logo{
    width: 150px;
    border-radius: 50%;
}

.menu-bar {
    width: 100%;
    margin-top: 40px;
    padding: 40px;
    background-color: var(--branco-bg-escuro);
    display: flex;
    justify-content: space-around;
}