:root {
    --branco-bg-claro: #f5f5f5;
    --branco-bg-escuro: #F2F2F2;
    --branco-texto: #F2F2F2;
    --preto-txt: #111;
    --cinza-txt: #A5A4A6;
    --cor-palida: #F25922;
    --cor-media: #BF4417;
    --cor-escura: #59200B;
}